<!-- show.html.erb -->

<% if @menu.errors.any? %>
  <div data-alert class="alert-box" id="notice">
    <%= notice %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<p>
  <strong>Menu:</strong>
  <%= @menu.name %>
</p>
<p>
  <strong>Recipes:</strong>
  <ul>
    <% @menu.recipes.each do |r| %>
      <li>
        <%= link_to r.name, recipe_path(r) %>
      </li>
    <% end %>
  </ul>
</p>

<hr>
<% if user_signed_in? %><%= link_to 'Edit', edit_menu_path(@menu) %> |<% end %>
<%= link_to 'Back', menus_path %>
<hr>
<h2>All Ingredients for this Menu</h2>

<table>
  <tr>
    <th>Quantity</th>
    <th>Ingredient</th>
    <th>Grocery</th>
  </tr>
  <% @ingredient_list.each do |k, v| %>
  <% i = Ingredient.find_by name: k %>
    <tr>
      <td>
        <%= v %>
      </td>
      <td>
        <%= k %>
      </td>
      <td>
        <%= i.shop_section %>
      </td>
    </tr>
  <% end %>
</table>
