<!-- index.html.erb -->

<h1>All recipes</h1>

<p>Sort: <%= link_to 'Category', recipes_path(:sort_params => 'recipe_category') %>, <%= link_to 'Type', recipes_path(:sort_params => 'recipe_type') %>, <%= link_to 'Chef', recipes_path(:sort_params => 'chef') %></p>

<table>
  <thead>
    <th>
      Recipe
    </th>
    <th>
      Ingredients
    </th>
    <th>
      Manage
    </th>
  </thead>
  <% @recipes.each do |recipe| %>
    <tr>
      <td>
        <p>
          <strong><%= link_to recipe.name, recipe_path(recipe) %></strong><br />
          Category: <%= recipe.recipe_category %><br />
          Type: <%= recipe.recipe_type %><br />
          Chef: <%= recipe.chef %>
        </p>
      </td>
      <td>
        <p>
          <ul>
            <% recipe.ingredients.each do |i| %>
              <li><%= i.name %></li>
            <% end %>
          </ul>
        </p>
      </td>
      <td>
        <p>
          <%= link_to 'Edit', edit_recipe_path(recipe) %> | <%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' }  %>
        </p>
      </td>
    </tr>
  <% end %>
</table>
