<!-- show.html.erb -->

<!-- errors -->
<% if @recipe.errors.any? %>
  <div data-alert class="alert-box" id="notice">
    <%= notice %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<!-- heading -->
<div class="row">
  <div class="large-12 columns">
    <h2><%= @recipe.name %></h2>
    <span class="label"><%= @recipe.recipe_category %></span> <span class="label"><%= @recipe.recipe_type %></span> <span class="label"><%= @recipe.chef %></span>
  </div>
</div>

<!-- content -->
<div class="row">
  <!-- left column -->
  <div class="large-4 columns">
    <h4>Ingredients</h4>
    <ul>
      <% @recipe.ingredients.each do |i| %>
        <li><%= i.name %></li>
      <% end %>
    </ul>
    <ul class="button-group round">
      <li><%= link_to 'Edit', edit_recipe_path(@recipe), class: "button" %></li>
      <li><%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></li>
    </ul>
  </div>
  <!-- right content -->
  <div class="large-8 columns">
    <div class="panel">
      <h4>Method</h4>
      <p>
        <%= @recipe.method %>
      </p>
    </div>
  </div>
</div>
