<!-- show.html.erb -->

<% if @ingredient.errors.any? %>
  <div data-alert class="alert-box" id="notice">
    <%= notice %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>GROCERY:</strong>
  <%= @ingredient.shop_section %>
</p>

<hr>

<ul class="button-group round">
  <li><%= link_to 'Edit', edit_recipe_path(@ingredient), class: "button" %></li>
  <li><%= link_to 'Delete', @ingredient, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></li>
</ul>
