<!-- show.html.erb -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>GROCERY:</strong>
  <%= @ingredient.shop_section %>
</p>

<hr>
<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Delete', @ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>
