<!-- index.html.erb -->

<h1><%= @shopping_list.menu.name %></h1>

<h2>Menu Groceries:</h2>
<table>
  <tr>
    <th>Quantity</th>
    <th>Ingredient</th>
    <th>Section</th>
  </tr>
  <% @ingredient_list.each do |k, v| %>
  <% i = Ingredient.find_by name: k %>
    <tr>
      <td>
        <%= v %>
      </td>
      <td>
        <%= k %>
      </td>
      <td>
        <%= i.shop_section %>
      </td>
    </tr>
  <% end %>
</table>
<h2>Other Groceries:</h2>
  <table>
  <tr>
    <th>Quantity</th>
    <th>Grocery</th>
    <th>Section</th>
  </tr>
  <% @grocery_list.each do |k, v| %>
  <% g = Grocery.find_by name: k %>
    <tr>
      <td>
        <%= v %>
      </td>
      <td>
        <%= k %>
      </td>
      <td>
        <%= g.section %>
      </td>
    </tr>
  <% end %>
</table>